body {
    background-color: #131518;
    font-size: 16px;
    margin: 0;
}






/* -------------------Classes on rating--------------------- */

.star {
    margin: 2.5em auto 20px 35px;
    border: 1.5px solid #fff;
    border-radius: 50%;
}

.rating{
    margin: 10em 33em auto 33em;
    flex-direction: column;
    background-image: linear-gradient(#232A34,#181E27 );
    border-radius: 25px;
    display: flex;
    justify-content: space-between;

}

.title {
    margin: .7em 0 0 1.26em;
    font-size: 1.75em;
    color: #FFFFFF;
    font-weight: 700, bold;
    line-height:35.45px;
    font-family: "Sacramento", Courier, monospace;
}

.intro {
    margin: 15px 3em 1em 2em;
    font-size: 18px;
    font-weight: 400;
    font-family: "Sacramento" Courier, monospace;
    line-height: 24px;
    color: #969FAD;
}

.thank-you {
    visibility: hidden;
}

.attribution {
    visibility: hidden;
}

.btn {
    height: 3.18em;
    width: 3.18em;
    border-radius: 30px;
    border: none;
    color: #7C8798;
    background-color: #262E38;
    
    
}
.btn:hover {
    background-color: #FC7614;
    color: #FFFFFF;
}

.btnClicked {
    background-color: #FC7614;
    color: #FFFFFF;
}

.buttonsRow {
    margin: 10px 40px 25px 40px;
    justify-content:space-between;
    display: flex;
    align-items: center;

}

.buttonSubmit {
    justify-content:space-between;
    align-items: center;
    margin: 15px auto 15px auto;
}

.submit {
    height: 45px;
    width: clamp(150px, 400px, 400px);
    color: #FFFFFF;
    font-family: "Sacramento", "Helvetica Neue", "Helvetica";
    font-size: 15px;
    font-weight: 700;
    background-color: #FC7614;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    vertical-align: middle;
    letter-spacing: 3px;
    border: none;
    padding-right: 5px;

    
}



.submit:hover {
    background: #FFFFFF;
    border: solid #FFFFFF 1px;
    color: #FC7614;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    vertical-align: middle;
    
}




body {
    background-color: #131518;
    font-size: 16px;
    margin: 0;
}


/* -------------------Thank you page--------------------- */

.container {
    margin: 10em 33em auto 33em;
    flex-direction: column;
    background-image: linear-gradient(#232A34, #181E27);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.img {
    margin: 15px auto 20px auto;
}

.btn {
    margin: 10px auto 20px auto;
}

.btn2 {
    margin: 5px auto 20px auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 27px;
    color: #FC7614;
    font-family: "Overpass",
        Courier,
        monospace;
    font-weight: 400, bold;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 35px;
    background-color: #262E38;
    border: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

}

.thanks {
    margin: 15px auto 15px auto;
    color: #FFFFFF;
    font-size: 34px;
    font-family: "Overpass",
        Courier,
        monospace;
    font-weight: 700;
}

.paragraph {
    color: #969FAD;
    text-align: center;
    margin: 0 auto 45px auto;
    padding: 0 27px;
    line-height: 1.5em;
    font-family: "Overpass", Courier, monospace;

}

.hidden {
    display: none;
}
/* ------------------------MEDIA ONLY------------------------ */

@media only screen and (max-width: 1440px) {
    .buttonSubmit {
        width: clamp(50px, 50%, 400px);
        
    }
    .submit {
        width: clamp(50px, 100%, 400px);
    }

    .rating {
        margin: 150px 250px 150px 250px;
    }
}